<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Reading List</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
    <h2>Your Reading List</h2>
    <div th:unless="${#lists.isEmpty(data)}">
        <dl th:each="doubanBook : ${data}">
            <dt class="bookHeadline">
                <span th:text="${doubanBook.title}">Title</span> by
                <span th:text="${doubanBook.author}">Author</span>
                (ISBN:<span th:text="${doubanBook.isbn}">ISBN</span>)
            </dt>
            <dd class="bookDescription">
                <span th:if="${doubanBook.description}" th:text="${doubanBook.description}">Description</span>
                <span th:if="${doubanBook.description eq null}">No description available.</span>
            </dd>
        </dl>
    </div>
    <div th:if="${#lists.isEmpty(data)}">
        <p>You have no data in your doubanBook list.</p>
    </div>

    <hr/>

    <h3>Add a doubanBook</h3>
    <form method="post">
        <label for="title">Title:</label>
        <input type="text" name="title" size="50"/><br/>
        <label for="author">Author:</label>
        <input type="text" name="author" size="50"/><br/>
        <label for="isbn">ISBN:</label>
        <input type="text" name="isbn" size="15"/><br/>
        <label for="description">Description:</label><br/>
        <textarea name="description" cols="50" rows="5"/><br/>
        <input type="submit"/>
    </form>
</body>
</html>